{% assign org_logo = "[logo_url]" %}
{% assign people = people | sort: 'last_name' %}
<html>
  <head>
    <title>{{ report.name }}  - {{ 'now' | date: "%B %d, %Y" }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="stylesheet.css" rel="stylesheet">
  </head>
<body>
<div class="header">
  <div class="left">
    <img src="{{ org_logo }}" />
  </div>
  <div class="right">
    <h1 class="title">{{ report.name }} </h1><br />
    <p style="display: inline;">List Updated: {{ list.updated_at  | date: "%B %d, %Y" }}</p>
  </div>
</div>
	<div id="content">
    <h2>12th Grade</h2>
    <table>
{% for person in people  %}
      {% if person.grade == 12 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
			</table>

      <h2>11th Grade</h2>
			<table>
			{% for person in people %}
      {% if person.grade == 11 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>10th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 10 %}
       <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>9th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 9 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>8th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 8 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>7th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 7 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>6th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 6 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>5th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 5 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>4th Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 4 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>3rd Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 3 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>2nd Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 2 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>1st Grade</h2>
    <table>
{% for person in people %}
      {% if person.grade == 1 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
			{% endif %}
{% endfor %}
    </table>

    <h2>Kindergarten</h2>
    <table>
{% for person in people %}
      {% if person.grade == 0 %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
	{% endif %}
{% endfor %}
    </table>

    <h2>Pre-K</h2>
    <table>
{% for person in people %}
	{% if person.grade == '-1' %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
	{% endif %}
{% endfor %}
    </table>
     <h2>No Grade</h2>
    <table>
{% for person in people %}
	{% if person.grade == FALSE %}
    <tr>
 	 		<td>{{ person.first_name }} {{ person.last_name }} </td>
      <td>{{ person.school }}</td>
      <td>{{ person.membership }}</td>
      <td>{{ person.age }} </td>
    </tr>
	{% endif %}
{% endfor %}
    </table>
    </div>
  </body>
</html>

{% comment %}
Grade Report - PCO Reports Version 1.0
http://tschieck.github.io/PCO-Reports/
{% endcomment %}
