{% assign letterhead_header = "header.png" %}
{% assign letterhead_footer = "footer.png" %}
{% assign iframe_link = 'https://docs.google.com/document/d/e/[insert_document_key]/pub' %}
<html lang="en">
  <head>
    <style type="text/css" media="all">
      body { size: 8.5in 11in; }

      .body {
        margin-left: 1in;
        margin-right: 1in;

      }

        .header {

          height: 2in;
          position: float;
          top: 0px;
        }

      .footer {
        background-color: black;
        font-family: "Futura";
        color: white;
        bottom: 0;
        padding-left 0px; */
        width: 8.5in;
        height: .83in;
        text-align: center;
        font-size: 14pt;
        position:absolute;

        left: 0px;
      }
    </style>
  </head>
  <body>
    {% for person in people%}

<div style="size: 8.5in 11.5in; page-break-after: always;">
<img class="header" src="{{ letterhead_header }}">
<div class="body">
 <p>
   {{ 'now' | date: "%B %d, %Y" }}
  </p>
  <p>
    {{ person.first_name }} {{ person.last_name }} <br />
    {% for address in person.addresses %}
      {{ address.postal_address }}
    {% endfor %}
  </p>
  <p>Dear {{ person.first_name }}, </p>

      <iframe src="{{ iframe_link }}?embedded=true" width="100%" height="530" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
  <img class="footer" src="{{ letterhead_footer }}" />
  </div>      {% endfor %}
    </div>
  </body>
</html>
